.footer {
    background: #f3f3f3;
    margin-top: 100px;
    padding: 100px 0 0;

    @media (width <= 480px) {
       padding: 50px 0 50px;
    }
}

.footer .container {
    display: flex;
    gap: 144px;
    justify-content: center;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;

    @media (width <= 1024px) {
        flex-wrap: wrap;
    }

    @media (width <= 480px) {
        gap: 80px;
    }
}

/* footer__first-cards */

.footer__first-cards {
    display: flex;
    gap: 29px;

    @media (width <= 480px) {
        flex-wrap: wrap;
    }
}

.footer__card {
    max-width: 270px;
    width: 100%;
}

.footer__card-logo {
    padding-bottom: 40px;
}

.footer__card-text {
    padding-bottom: 8px;
    font-weight: 500;
    line-height: 160%;
    color: #666;
}

.footer__card-icons {
    display: flex;
    gap: 20px;
}

.footer__card-icon {
    padding: 7px;
    border-radius: 100%;
    transition: 0.3s;

    &:hover {
        background: #f25822;
    }

}

.footer__company {
    max-width: 156px;
    width: 100%;
}

.footer__company-title {
    padding-bottom: 34px;
    font-size: 24px;
}

.footer__company-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__company-item {
    display: flex;
    align-items: center;
    gap: 9px;
}

.footer__company-link {
    color: #666;
    font-weight: 600;
    transition: 0.3s;

    &:hover {
        opacity: 0.5;
    }
}

/* footer__first-cards */

/* footer__second-cards */

.footer__second-cards {
    display: flex;
    gap: 147px;

    @media (width <= 480px) {
        flex-wrap: wrap;
        gap: 80px;
        /* gap: 30px; */
    }
}

.footer__services {
    max-width: 153px;
    width: 100%;
}

.footer__services-title {
    font-size: 24px;
    padding-bottom: 34px;
}

.footer__services-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__services-item {
    display: flex;
    align-items: center;
    gap: 9px;
}

.footer__services-link {
    color: #666;
    font-weight: 600;
    transition: 0.3s;

    &:hover {
        opacity: 0.5;
    }
}

.footer__contacts {
    max-width: 219px;
    width: 100%;
}

.footer__contacts-title {
    font-size: 24px;
    padding-bottom: 34px;
}

.footer__contacts-list {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.footer__contacts-link {
    font-weight: 600;
    line-height: 150%;
    color: #666;

    span {
        color: #333;
        font-weight: 600;
    }
}

/* footer__second-cards */

.footer__text {
    font-weight: 500;
    color: #888;
    text-align: center;
    padding: 19px 0;
}