.nav {
    padding: 40px 0;
}

.nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__burger {
    display: none;
}

@media (width <= 992px) {
    .nav__burger {
        margin-left: auto;
       position: relative;
        width: 40px;
        height: 25px;
        display: flex;
        align-items: center;
        cursor: pointer;
        z-index: 11;
    }
   

    .nav__burger-line {
        position: relative;
        width: 100%;
        height: 2px;
         background: #f25822;
        transition: 0.2s;

        &::before,
        &::after {
            content: "";
            width: 100%;
            height: 2px;
            background: #f25822;
            position: absolute;
            transition: 0.3s;
        }

       &::before {
            top: -10px;
        }

        &::after {
            top: 10px;
        }
    }

     .nav__burger-line.active {
        background: transparent;

        &::before {
            transform: rotate(45deg);
            top: 0;
            height: 3px;
            border-radius: 2px;
        }

        &::after {
            transform: rotate(-45deg);
            top: 0;
            height: 3px;
            border-radius: 2px;
        }
    }
}

@media (width <= 992px) {
    .nav__menu {
        position: absolute;
        top: 120px;
        left: 0;
        width: 100%;
        background: rgba(251, 177, 150, 0.9);
        height: 100dvh;
        z-index: 10;
        min-height: 600px;
        display: grid;
        place-items: center;
        transform: scaleY(0);
        transition: 0.5s;
        transform-origin: top;
        border-bottom: solid 5px rgb(194, 84, 0);
        border-top: solid 5px rgb(194, 84, 0);

        &.active {
            transform: scaleY(1);
        }

        &.menuOff {
            transform:  scaleY(0);
        }
    }
}

.nav__list {
    display: flex;
    align-items: center;
    gap: 36px;

    @media (width <= 992px) {
        flex-direction: column;
    }
}

.nav__link {
    font-size: 14px;
    color: #000;
    transition: 0.4s;

    &:hover {
        color: #f25822;
    }

    @media (width <= 992px) {
        font-size: 20px;
    }
}

.drop__down {
    display: flex;
    align-items: center;
    gap: 5px;
}

.nav__button {
    font-size: 12px;
    color: #fff;
    background: #f25822;
    border-radius: 30px;
    width: 120px;
    padding: 13px 0;
    display: flex;
    justify-content: center;

    @media (width <= 992px) {
        font-size: 16px;
    }
}

.header > .container {
    display: flex;
    gap: 48px;
    align-items: center;
    padding: 40px 0 0;

    @media (width <= 1290px) {
        flex-direction: column;
    }
}

.header__img {
    max-width: 600px;
    width: 100%;

    @media (width <= 1290px) {
        max-width: 843px;
        height: 500px;
    }

    @media (width <= 850px) {
        max-width: 700px;
        height: 400px;
    }

    @media (width <= 756px) {
       display: none;
    }
}

.header__main {
    max-width: 543px;
    width: 100%;

    @media (width <= 1290px) {
        max-width: unset;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.header__title {
    font-size: 60px;
    max-width: 522px;
    width: 100%;
    padding-bottom: 17px;

    @media (width <= 1290px) {
        max-width: unset;
        font-size: clamp(30px, 5vw, 60px);
        text-align: center;
    }
}

.header__text {
    font-size: 20px;
    color: #888;
    max-width: 466px;
    width: 100%;

    @media (width <= 1290px) {
        max-width: unset;
        text-align: center;
    }

    @media (width <= 576px) {
        font-size: 18px;
    }
}

.header__lasts {
    display: flex;
    align-items: center;
    gap: 27px;
    padding-top: 37px;

    @media (width <= 1290px) {
        flex-direction: column;
    }
}

.header__watch {
    display: flex;
    align-items: center;
    gap: 15px;
}



.header__button {
    font-size: 15px;

    @media (width <= 1290px) {
        width: 300px;
    }
}

.header__icon {
    cursor: pointer;
}

.header__watch-txt {
    font-size: 15px;
    color: #aaa;
}

.header__icons {
    display: flex;
    align-items: center;
    gap: 48px;
    justify-content: center;
    padding: 97px 0;
    flex-wrap: wrap;
}

.header__brands {
    transition: 0.3s;

    &:hover {
        transform: scale(1.05);
        box-shadow: 0 0 10px #000;
    }
}

.header__oval-line {
    position: absolute;
    top: 230px;
    left: 105px;
    z-index: -1;
    /* display: none; */

    @media (width <= 1290px) {
        display: none;
    }
}

.header__dots {
    position: absolute;
    top: 130px;
    z-index: -1;
    /* display: none; */

    @media (width <= 1290px) {
        left: 200px;
    }

    @media (width <= 992px) {
        left: 0;
    }
}